/*About specific code*/
.about-main {
    margin: 20px;
}

/*For mobile*/
@media (max-width: 768px) {
    .about-main h2 {
        font-size: 15px;
    }

    .about-main p {
        font-size: 12px;
    }
}