.article-main h2 {
    text-align: center;
}

.article-card {
    margin: 20px;
    font-size: 15px;
}

/*For mobile*/
@media (max-width: 768px) {
    .article-main h2 {
        font-size: 15px;
    }

    .article-card {
        font-size: 12px;
    }
}