* {
    box-sizing: border-box;
    font-family: 'Poppins';
}

.brand-logo {
    width: 100px;
    padding: 10px 0px 10px 20px;
    display: flex;
}

.brand-logo .brand-title {
    padding-left: 10px;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252336;
    color: white;
}

.brand-title {
    font-size: 2.5rem;
    margin: .5rem;
    font-weight: 900;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #444066;
}

.toggle-button {
    position: absolute;
    top: 2.3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button:hover {
    background-color: #7c76b5;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.footer-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: rgb(209, 209, 209);
    font-family: 'Poppins';
    min-height: 5vh;
    color: black;
    padding-top: 1pt;
    padding-left: 50pt;
}

#footitem-1{
    align-self: center;
    flex:0.3;
}
#footitem-2{
    margin-left: 10px;
    align-self: center;
    align-content: flex-start;
    flex:1.5;
    font-size: 15px;
}

#footitem-2 a{
    text-decoration: none;
    color: black;
}

#footitem-2 a:hover{
    text-decoration: none;
    color: rgb(87, 87, 87);
}

#footitem-3{
    align-self: center;
    flex:0.3;
}
#footitem-4{
    margin-left: 10px;
    align-self: center;
    flex:1.5;
    font-size: 15px;
}

/*Index specific content*/
.index-main h2 {
    text-align: center;
}

.index-main article {
    border-top: #4edecb solid 1pt;
}

.index-main article {
    display: flex;
}

.news-img img {
    margin: 10px;
    width: 200px;
    height: 200px;
}

.news-text {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    margin-right: 10px;
}

.article-card {
    font-size: 15px;
    margin: 10px;
    border: #252336 solid 1px;
    padding: 10px;
}

.read-more-button {
    padding: 5px 20px;
    font-size: 12px;
    border: none;
    outline: none;
    cursor: pointer;
}

.article-text.show-more .article-moreText {
    display: inline;
}

/*For mobiles*/
@media (max-width: 440px) {
    .news-img img {
        display: none;
    }

    .news-text {
        padding: 20px;
    }
}

/*For tablets*/
@media (max-width: 768px) {
    #footitem-2 p {
        font-size: 12px;
    }

    #footitem-4 p {
        font-size: 12px;
    }
    
    .article-card {
        font-size: 12px;
    }

    .index-main h2 {
        font-size: 15px;
    }

    .brand-logo {
        padding-left: 5px;
    }

    .brand-logo .brand-title {
        padding-left: 0px;
    }

    .news-text {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .brand-logo img{
        display: none;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}