.rum-h1 {
    text-align: center;
}

.rum-h2 {
    text-align: center;
    font-size: 15px;
}

.rum-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rumour-card {
    border: #252336;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    max-width: 1000px;
}

.rum-href {
    text-decoration: none;
    color: #252336;
}

.rum-href:hover {
    opacity: 0.5;
}

.rum-href:visited {
    color: #2819b3;
}

main {
    min-height: 75vh;
}

.rumour-card:hover {
    border: #4edecb;
    border-style: solid;
}

#last-card {
    margin-bottom: 20px;
}

/*For mobile*/
@media (max-width: 768px) {
    .rum-h1 {
        font-size: 15px;
    }

    .rum-h2 {
        font-size: 12px;
    }

    .rumour-card p {
        font-size: 12px;
    }
}